
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Views/Login.js"></script>
<h2>Login</h2>

@{using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div>
            <label class="control-label">Tài khoản</label>
            <input name="Username" value="" class="txt-username" />
        </div><div>
            <label class="control-label">Mật khẩu</label>
            <input name="Password" value="" class="txt-password" />
        </div>
        <button type="submit">Đăng nhập</button>
    }
}