body {
}

.hide{
    display: none;
}

*:before,
*:after{
    display:none !important;
}

.fixed {
    position: fixed;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.navbar{
    justify-content: space-between;
}

.left-menu {
    padding: 2em 1em;
    box-sizing: border-box;
    width: 200px;
    background: #e9e9e9;
    height: 100%;
}

    .left-menu a {
        padding: 8px;
        color: #000000;
        display: block;
    }


.container {
    margin-left: 200px;
}


.nav-user-detail {
    float: right;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-right: 2em;
}

table{
    width: 100%;

}

    table th {
        font-weight: bold;
        border-bottom: 0px !important;
        background: #1b7dcc;
        font-size: 14px;
        color: #fff;
        padding: .75rem;
    }

    table td {
        border: 1px solid #e5e6e8 !important;
        padding: .7rem;
    }

    .btn-link:hover{
        cursor:pointer;
    }

    .control-label{
        width: 100px;
    }